@(name: String)

@main("第17回全国高専帰宅選手権", "/assets/stylesheets/game.css"){

    <div class="fl_container center">
        <div class="fl_r">
            <ul class="list">
                <li>@name さん</li>
            </ul>
        </div>
        <div class="center fl_r">
            <canvas id="target" width="800" height="600"></canvas>
        </div>
        <div class="fl_r shadow ranking">
            ランキング
            <ol id="ranking" class="">
            </ol>
        </div>
    </div>
    <script src="@routes.Application.gameJS()"></script>
    <p><a href="http://函館高専.jp/gohome.html">プロジェクトページへ</a></p>
    <p><a href="../">Top ページ</a></p>
}
