@(enterForm: Form[String])(implicit messages: Messages)
@main("第17回全国高専帰宅選手権 TOP", "/assets/stylesheets/top.css"){
    @helper.form(action = routes.Application.enter()){
        <label>ニックネーム <input type="text" name="name" placeholder="add name here" required/></label><br><br>
        <input type="submit" value="そうしんっ！"/>
    }
    <h2>どんなゲーム？</h2>

    <p>相手の帰宅途中に地雷を設置して相手の帰宅を妨げつつ、
        自分は相手の妨害を乗り越えて帰り着くことが目的です。</p>

    <p>ただし、帰宅途中に諦めるという選択もあります。このさいは途中までのポイントがもらえます。</p>

    <p>最終的にはポイントの多い方が勝ちとなります。</p>

    <p>プレイ時間はどれだけ考えるかに左右されますが、3分以上を見越してください。</p>

    <h2>画面名称と遷移</h2>

    <p><a href="@routes.Assets.versioned("images/top.png")" target="_blank"><img src="@routes.Assets.versioned("images/top.png")" alt="トップ画面" title="トップ画面" /></a></p>

    <p>ここでニックネームを入力することで入室します。</p>

    <p><a href="@routes.Assets.versioned("images/top.png")" target="_blank"><img src="@routes.Assets.versioned("images/mine.png")" alt="地雷敷設画面" title="地雷敷設画面" /></a></p>

    <p>ここで相手の帰宅路に地雷を埋めます。</p>

    <p><a href="@routes.Assets.versioned("images/do.png")" target=_blank><img src="@routes.Assets.versioned("images/do.png")" alt="帰宅画面" title="帰宅画面" /></a></p>

    <p>ここで実際に帰り着くよう試みます。</p>

    <p>ツールをうまく使いながら帰ってください。 諦める場合は戻るをクリックしてください。</p>

    <p><a href="@routes.Assets.versioned("images/result.png")" target=_blank><img src="@routes.Assets.versioned("images/result.png")" alt="最終結果" title="最終結果" /></a></p>

    <p>ゲームの結果が表示されます。</p>

    <p>もう一度を押しても同じ相手とマッチングされるとは限りません。</p>

    <h2>操作方法</h2>

    <h3>トップ画面</h3>

    <p><a href="@routes.Assets.versioned("images/top.png")" target=_blank><img src="@routes.Assets.versioned("images/top.png")" alt="トップ画面" title="トップ画面" /></a></p>

    <p>テキストボックスにニックネームを入れて「そうしんっ！」と書かれているボタンをクリックするか、
        Enterキーを入力してください。</p>

    <p>ゲーム本体のページに遷移しますが、その際ニックネームが見つからない場合はエラーが返ってくるか、
        トップページが再び表示されるかします。その場合はもう一度やってみてください。</p>

    <h3>地雷敷設画面</h3>

    <p><a href="@routes.Assets.versioned("images/mine.png")" target=_blank><img src="@routes.Assets.versioned("images/mine.png")" alt="地雷敷設画面" title="地雷敷設画面" /></a></p>

    <p>画面上のますをクリックすることで地雷を埋める/埋めないをトグルします。満足したら埋める
        のところをクリックしてください。</p>

    <p>クリックするまではサーバーにデータが送られることはありません。</p>

    <p>自分がデータを送ったあとでも、相手のデータが来ない限りは通信待機画面になります。</p>

    <h3>帰宅画面</h3>

    <p><a href="@routes.Assets.versioned("images/do.png")" target=_blank><img src="@routes.Assets.versioned("images/do.png")" alt="帰宅画面" title="帰宅画面" /></a></p>

    <p>進むはただただ進みます。解除はツールを使用して解除する動作を行った後に一歩進みます。
        ツールは解除した、しないにかかわらず数が減るので、戦略的に使用してください。</p>

    <p>戻るは諦めて学校に戻ります。この場合得点はその時点まで進んだマスと同等になります。</p>

    <p>すべてのマスが緑か蒼になるとウェーブクリアで、結果が送られます。</p>

    <p>途中で地雷を踏んでしまった場合は得点は０となります。(以前のウェーブの得点が消えるわけではありません。)</p>

    <h3>最終結果</h3>

    <p><a href="@routes.Assets.versioned("images/result.png")" target=_blank><img src="@routes.Assets.versioned("images/result.png")" alt="最終結果" title="最終結果" /></a></p>

    <p>このゲームの最終結果の画面です。
        相手の名前と得点。自分の得点と勝敗が表示されます。</p>

    <p>もう一度をクリックするとゲームの初期状態になり、またマッチング待ちとなります。</p>

    <h2>既知の問題など</h2>

    <ul>
        <li>進むを連打するとまれに通信待機中のままかたまってしまう場合があります。
            対策としてはゆっくりプレイすることを推奨します。</li>
        <li>見た目が…… 仕様です</li>
        <li>見た目が!! 仕様ですっ!! 誰だっ！ 技術屋にデザインを期待した奴はっ！</li>
    </ul>

    <h2>使用技術</h2>

    <h3>言語</h3>

    <ul>
        <li>Server: Scala</li>
        <li>Client: Javascript</li>
    </ul>

    <h3>その他</h3>

    <ul>
        <li>Akka</li>
        <li>Websocket</li>
        <li>Playframework</li>
        <li>HTML5 Canvas</li>
    </ul>

    <h2>作者情報等</h2>

    <ul>
        <li>4Jの誰かと4Jの誰かと…</li>
        <li>作った奴しか答えられない場合があります</li>
    </ul>

</body>
</html>

}
