@(title: String, style: String = null)(content: Html)

<!DOCTYPE html>

<html lang="ja">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen, projection" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        @if(style != null){
            <link rel="stylesheet" media="screen, projection" href="@style">
        }
    </head>
    <body>
        <header>
            <h1>第17回全国高等専門学校帰宅選手権(仮称)</h1>
        </header>
        @content
        <footer>
            <p>&copy; 2015 Team 4J</p>
        </footer>
    </body>
</html>
